*{
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


html,body{
	height: 100%;
}

.center{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

/* Header */

header {
    width: 100%;
    height: 85vh;
    padding: 15px 0;
    background-image: url('../img/capa.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center;
    background-attachment: fixed;

    color: white;
}

header > .center{
    padding: 0 2%;
}

.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px;
    border-bottom: 1px solid white;
}

.header_top .logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color: rgb(236, 236, 236);
    filter: drop-shadow(2px 2px 1px rgb(15, 155, 165));
}

/* Menus */

.desktop{
    display: block;
}

.desktop ul {
    list-style-type: none;
    display: flex;
}

.desktop li {
    margin-right: 30px;
}

.desktop li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 23px;
}

/* mobile */

.mobile{
    display: none;
}

.mobile .moba_button img{
    margin-top: 3px;
    cursor: pointer;
}

.mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
}

.mobile li{
    background-color: rgb(41, 41, 41);
    text-align: center;
    border-bottom: 1px solid rgb(94, 94, 94);
}

.mobile li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 200;
    font-size: 20px;
}

/* main header */

.header_main{
    position: absolute;
    left: 60%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.header_main h3{
    font-size: 40px;
    font-weight: 200;
}

.header_main p{
    font-weight: 100;
    font-size: 14px;
    color: rgb(207, 207, 207);
}

/* section work */

#work{
    color: white;
    width: 100%;
    background-color: rgb(30, 30, 30);
    height: 400px;
}

#work > .center{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.work_text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.work_text h2{
    font-weight: 200;
    font-size: 35px;
}

.work_text p{
    padding-left: 5px;
    font-weight: 100;
    font-size: 14px;
    color: rgb(219, 218, 218);
}

.work_text ul{
    margin: 15px 0;
    padding-left: 5px;
    list-style-position: inside;
}

.work_text li{
    font-weight: 200;
}

.work_text a{
    display: inline-block;

    width: 200px;
    height: 45px;

    background-color: rgb(252, 0, 76);
    color: white;
    
    text-align: center;
    line-height: 45px;
    text-decoration: none;

    font-size: 17px;
    font-weight: 300;
    border-radius: 15px 0;
    box-shadow: 0px 5px 10px 1px rgb(124, 20, 63);
}

.work_text a:hover{
    transform: scale(0.96);
}

.work_text a:active{
    transform: scale(1);
}

.work_img{
    width: 50%;
}

.work_img img{
    position: relative;
    top: -40px;
    width: 100%;
    height: 440px;
}

/* section about */

#about{
    width: 100%;
    color: white;
    background-color: rgb(20, 20, 20);
    padding-top: 35px;
}

#about h2{
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    padding-bottom: 35px;
}

#about p{
    margin: 0 auto;
    max-width: 980px;
    text-align: justify;
    font-weight: 200;
    font-size: 14px;
    color: rgb(230, 230, 230);
}

.about_img{
    margin: 0 auto;
    max-width: 100%;
}

.about_img img{
    position: relative;
    top: 100px;
    width: 100%;
    border-radius: 12px;
    border-top: 2px solid rgb(37 43 57);
    border-bottom: 2px solid rgb(37 43 57);
}

/* section team */

.team{
    padding-top: 150px;
    padding-bottom: 15px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    color: white;
}

.team h2{
    font-weight: 200;
    text-align: center;
    font-style: italic;
    font-size: 35px;
}

.team p{
    max-width: 800px;
    text-align: center;
    font-weight: 100;
    margin: 0 auto;
}

/* section contact */

#contact{
    width: 100%;
    background-color: rgb(20, 20, 20);
    padding: 25px 0 45px 0;
    color: white;
}

#contact h2{
    text-align: center;
    font-size: 35px;
    font-weight: 200;
}

#contact form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form input[type="tel"]{
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-bottom: 15px;
    padding: 0 7px;
    border-radius: 6px;
}

#contact form input[type="text"]:focus,
#contact form input[type="email"]:focus,
#contact form input[type="tel"]:focus,
#contact form textarea:focus{
    box-shadow: 0px 0px 15px 1px cyan;
}
#contact form textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 7px;
    border-radius: 6px;
    height: 85px;
    resize: none;
}

#contact form input[type="submit"]{
    width: 200px;
    height: 45px;

    background-color: rgb(252, 0, 76);
    color: white;

    cursor: pointer;
    
    text-align: center;
    line-height: 45px;
    text-decoration: none;

    font-size: 25px;
    font-weight: 200;
    border-radius: 15px 0;
    box-shadow: 0px 5px 10px 1px rgb(124, 20, 63);
}

#contact form input[type="submit"]:hover{
    transform: scale(0.96);
}

#contact form input[type="submit"]:active{
    transform: scale(1);
}

/* section footer */

footer{
    width: 100%;
    padding: 15px 0;
    color: white;
    background-color: rgb(40, 40, 40);
}

footer h3{
    text-align: center;
    font-weight: 200;
}
 
footer h3 a{
    text-decoration: none;
    color: rgb(252, 0, 76);
}

footer .icons{
    width: 40%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

footer .icons li a{
    text-decoration: none;
    font-size: 35px;
}

/* Responsividade */
@media screen and (max-width:950px){
    #work{
        height: 350px;
    }

    .work_text{
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
    }

    .work_text h2{
        font-size: 30px;
    }

    .work_text ul{
        text-align: justify;
    }

    .work_img{
        display: none;
    }
}

@media screen and (max-width:750px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .header_main{
        width: 100%;
        padding: 0 2%;
        left: 50%;
        top: 45%;
    }

    .header_main h3{font-size: 35px;}

    .about_img{margin-top: 35px;}
}